<html>
<head>
    <title>To Do List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body class="container">
    <h1>Categories</h1>

    {% if categories is not empty %}
        <p>Here are all your categories:</p>
        <ul>
            {% for category in categories %}
                <li>{{ category.getName }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action='/categories' method='post'>
        <div class="form-group">
            <label for='name'>Category name</label>
            <input id='name' name='name' class="form-control" type='text'>
        </div>
        <button type='submit' class="btn-primary">Add category</button>
    </form>
    <form action='/delete_categories' method='post'>
        <button type='submit' class="btn-primary">Clear</button>
    </form>

    <p><a href='/'>Home</a></p>
</body>
</html>
